.idea/
bin/
etc/
include
lib/
share/
staticfiles/
migrations/0*
zzz/
xxx/
yyy/
*(copia)/
*copia*/
src/**/*.txt
*.sqlite3
*.db
*.csv
*.pdf
*.json
*.png
*.jpeg
*.jpg
*.txt
*.pyc
_*.*
!__*.py
*_.py
!*__.py
*prueba*.py
p.py
*copia*.*

