.idea/
bin/
etc/
include
lib/
share/
staticfiles/
**/migrations/0*.*
zzz/
xxx/
yyy/
*(copia)/
*copia*/
**/copia
**/__pycache__
src/**/*.txt
*.txt
!requirements.txt
*.sqlite3
*.db
*.pyc
_*.py
!__*.py
_*.py
!__*.py
*_.py
!*__.py
*prueba*.py
p.py
*copia*.*

