version: '3'

services:

  nginx:
    build: ./nginx
    ports:
      - "8000:80"
    volumes:
      - static_volume:/IE/staticfiles
    depends_on:
      - web

  db:
    image: mysql:8.0
    ports:
      - '3307:3306'
    environment:
       MYSQL_DATABASE: 'ie'
       MYSQL_ROOT_PASSWORD: 'root'
    restart: always
    volumes:
      - mysql_data:/var/lib/mysql
  web:
    build: ./src
    expose:
      - 8000
    command: gunicorn ie_django.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static_volume:/IE/staticfiles
    depends_on:
      - db
    environment:
      - WAIT_HOSTS=db:3306
      - WAIT_HOSTS_TIMEOUT=300
      - WAIT_SLEEP_INTERVAL=30
      - WAIT_HOST_CONNECT_TIMEOUT=30
      - DATABASE_NAME=ie
      - DATABASE_USER=root
      - DATABASE_PASSWORD=root
      - DATABASE_HOST=db
      - DATABASE_PORT=3306

volumes:
  static_volume:
  mysql_data:
