{% extends 'base.html' %}
{% block content %}

   <h2>Gráfico embebido por imagen</h2>
   <p>Presionar F5 para generar nueva muestra: </p><br>

   {% include 'chart/form.html' with form=form %}


      <h3>Vacantes e inscripciones de ofertas nacionales</h3>
      <div class="row">
         <img src="data:image/png;base64,{{national_vacancies_img}}" alt="some_chart" width=600 height=auto />
         <img src="data:image/png;base64,{{national_registered_people_img}}" alt="some_chart" width=600 height=auto />
      </div><br>

{% if international_vacancies_img % }
       <h3>Vacantes e inscripciones de ofertas internacionales</h3>
      <div class="row">
         <img src="data:image/png;base64,{{international_vacancies_img}}" alt="some_chart" width=600 height=auto />
         <img src="data:image/png;base64,{{international_registered_people_img}}" alt="some_chart" width=600 height=auto />
      </div>
{% endif % }


{% if False %}
   <h3>Some charts examples</h3>
   <img src='/chart/one_example' width="600px" /><br>
   <img src='{% url  view_name %}' width="600px" /><br>
   <img src='{{ url }}' width="600px" /><br>
{% endif %}

{% endblock %}
