{% extends 'chart/base.html' %}
{% block app %}
<div class="main view">
    <h2 class="title md-2">Gráficos</h2>
  <div class="row">
      <div class="col-lg-6">
            <div class="card bg-white-smoke p-4">
                    {% load custom_extras %}
                    <p>  {{ available_offers_vacancies }} vacantes en {{ available_offers }} ofertas de trabajo de las cuales:<p>
                    <p>- El {{ national_offers_vacancies_percentage|percentage }} son vacantes nacionales<p>
                    <p>- El {{ international_offers_vacancies_percentage|percentage }} son vacantes internacionales<p>
                    <p>- El {{ first_job_offers_vacancies_percentage|percentage }} son vacantes de primer empleo<p>
            </div>
      </div>
      <div class="center col-lg-6 pl-5">
          {% include 'chart/menu.html' %}
      </div>
  </div>
      <div class="row sub-container pt-2">
          {% include 'chart/charts.html' %}
      </div>
  </div>
{% endblock %}