{% extends 'chart/base.html' %}
{% block chart %}
<div class="main remnant">
{% load static %}
{% load chart_extras %}
    <ul>
      Elige una opción:
      <li>
         <a href="/chart?charts_type=per_area">Vacantes e inscripciones por área</a>
      </li>
      <li>
         <a href="/chart?charts_type=per_province">Vacantes e inscripciones por provincia</a>
      </li>
       <li>
         <a href="/chart?charts_type=per_company">Compañías con mayor oferta</a>
      </li>
       <li>
         <a href="/chart?charts_type=salaries_per_area">Salarios por área</a>
      </li>
         <li>
         <a href="/chart?charts_type=salaries_per_province">Salarios por provincia</a>
      </li>
   </ul>
   <br><br>

{% if charts_type and charts_type == "per_area" %}

    <div class="section">
        <h3 class="title">Vacantes e inscripciones de ofertas</h3>
          <div class="row">
              <img src='/chart/national-and-international-vacancies-or-registered-people-per-area/vacancies'
                  width="700px" height="auto"/><br>
              <img src='/chart/national-and-international-vacancies-or-registered-people-per-area/registered_people'
                  width="700px" height="auto"/><br>
          </div>
    </div>

    <div class="section">
        <h3 class="title">Vacantes e inscripciones de ofertas</h3>
        <div class="row">
            <img src='/chart/vacancies-and-registered-people-per-area/national'
                  width="700px" height="auto"/><br>

            <img src='/chart/vacancies-and-registered-people-per-area/international'
                  width="700px" height="auto"/><br>
        </div>
    </div>

    <div class="section">
        <h3 class="title">Vacantes e inscripciones de ofertas nacionales</h3>
        <div class="row">
            <img src='/chart/vacancies-or-registered-people-per-area/national/vacancies'
              width="700px" height="auto"/><br>

            <img src='/chart/vacancies-or-registered-people-per-area/national/registered_people'
              width="700px" height="auto"/><br>
        </div>
    </div>

    <div class="section">
        <h3 class="title">Vacantes e inscripciones de ofertas internacionales</h3>
        <div class="row">
          <img src='/chart/vacancies-or-registered-people-per-area/international/vacancies'
              width="700px" height="auto"/><br>
          <img src='/chart/vacancies-or-registered-people-per-area/international/registered_people'
              width="700px" height="auto"/><br>
      </div>
    </div>


    {% elif  charts_type and charts_type == "per_province" %}
    <div class="section">
      <h3 class="title">Vacantes e inscripciones de ofertas</h3>
      <div class="row">
          <img src='/chart/vacancies-or-registered-people-per-province/national'
              width="900px" height="auto"/><br>
          <img src='/chart/vacancies-or-registered-people-per-province/registered_people'
              width="900px" height="auto"/><br>
      </div>
    </div>

    {% elif  charts_type and charts_type == "per_company" %}
    <div class="section">
      <h3 class="title">Compañías que ofrecen más ofertas</h3>
      <div class="row">
          <img src='/chart/companies-with-more-vacancies/national'
              width="700px" height="auto"/><br>
          <img src='/chart/companies-with-more-vacancies/international'
              width="700px" height="auto"/><br>
      </div>
    </div>

    {% elif  charts_type and charts_type == "salaries_per_area" %}
    <div class="section">
      <h3 class="title">Salarios brutos anuales</h3>
       <div class="row">

      </div>
      <div class="row">
          <img src='/chart/salaries-per-area/national'
              width="700px" height="auto"/><br>

      </div>
    </div>
        {% if charts_type == "salasdsdsds_per_area" %}
        <div class="row">
          <img src='/chart/national-and-international-salaries-per-area'
              width="700px" height="auto"/><br>


             <img src='/chart/salaries-per-area/international'
              width="700px" height="auto"/><br>
      </div>
        {% endif %}
     {% elif  charts_type and charts_type == "salaries_per_province" %}
    <div class="section">
      <h3 class="title">Salarios brutos anuales</h3>
       <div class="row">
          <img src='/chart/salaries-per-province'
              width="1000px" height="auto"/><br>
      </div>
    </div>

{% endif %}


{% if False %}
        <div class="section">
   <h3>Some charts examples</h3>
   <img src='/chart/vacancies-or-registered-people-per-area/vacancies/national' width="700px" /><br>
   <img src='/chart/vacancies-or-registered-people-per-area/registered-people/national' width="700px" /><br>
   <img src='{% url  view_name %}' width="700px" /><br>
   <img src='{{ url }}' width="700px" /><br>
            </div>
{% endif %}
</div>
{% endblock %}
