<div class="menu remnant">
<ul>
      Elige una opción:
      <li>
         <a href="/chart?charts_type=per_area">Vacantes e inscripciones por área</a>
      </li>
      <li>
         <a href="/chart?charts_type=per_province">Vacantes e inscripciones por provincia</a>
      </li>
       <li>
         <a href="/chart?charts_type=per_company">Compañías con mayor oferta</a>
      </li>
       <li>
         <a href="/chart?charts_type=salaries_per_area">Salarios por área</a>
      </li>
         <li>
         <a href="/chart?charts_type=salaries_per_province">Salarios por provincia</a>
      </li>
   </ul>
</div>