{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="app-container">
<link rel="stylesheet" type="text/css" href="{% static 'css/home/home.css' %}">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="title">INFOEMPLEO SCRAPER</h1>
        </div>
        <div class="col-lg-12">
            <a href ='/admin/'>Go to Admin</a><br>
            <a href ='/crawl/'>Run crawler</a><br>
            <a href ='/task/test'>Crawler test</a><br>
            <a href ='/background/bg2'>BG2</a><br>
            <a href ='/background/bg3'>BG3</a><br>
            <a href ='/background/bg4'>Background task</a><br>
            <a href ='/background/bg5'>Background task</a><br>
        </div>
    </div>
</div>
{% endblock %}