{% extends 'base.html' %}
 {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home/home.css' %}">
{% block content %}
    <h1>INFOEMPLEO SCRAPER</h1>
    <a href ='/admin/'>Go to Admin</a><br>
    <a href ='/crawl/'>Run crawler</a><br>
    <a href ='/background/bg1'>Background task</a><br>
    <a href ='/background/bg2'>BG2</a><br>
    <a href ='/background/bg3'>BG3</a><br>
    <a href ='/background/bg4'>Background task</a><br>
    <a href ='/background/bg5'>Background task</a><br>
{% endblock %}