{% if tasks %}
<div class="init remnant">
    <h4 class="title">
        {% if tasks|length == 1 %}
            Última tarea ejecutada:
        {% else %}
            Últimas tareas ejecutadas:
        {% endif %}
    </h4>
    <ul>
        {% for task in tasks %}
        <li>
            <h4>{{task.type}} {{task.name}} ({{task.pid}}) iniciada el {{ task.started_at|date:'d/m/Y' }} y con estado {{task.state|lower}}</h4>
        </li>
        {% endfor %}
    </ul>
    <div id="state" data-state="{{task.state}}" hidden></div>
</div>
{% endif %}
<br><br>
