{% if tasks %}
<div class="init remnant">
    <h4 class="title">
        {% if tasks|length == 1 %}
            Última tarea ejecutada:
        {% else %}
            Últimas tareas ejecutadas:
        {% endif %}
    </h4>
    <ul>
        {% for task in tasks %}
        <li>
            <h4>{{task.type}} {{task.name}} ({{task.pid}}) {{task.state|lower}} ({{ task.started_at|date:'d/m/Y' }} {{ task.started_at|time:"h:i a" }}{% if task.finished_at %} - {{ task.finished_at|date:'d/m/Y' }} {{ task.finished_at|time:"h:i a" }}{% endif %})</h4>
        </li>
        {% endfor %}
    </ul>
    <div id="state" data-state="{{task.state}}" hidden></div>
</div>
{% endif %}
<br><br>
