{% extends 'task/base.html' %}
{% block extra_css %} {% include 'task/css.html' %}{% endblock %}
{% block extra_js %} {% include 'task/js.html' %}{% endblock %}
{% block app %}
<div id="main" class="view center">
        {% load task_extras %}
        <div class="sub-container">
        {% if is_running %}
                {% include 'task/info_crawler_task.html' %}
        {% else %}
                {% include 'task/init.html' %}
        {% endif %}
        </div>
        <div id="main-loader" class="loader very-slow" {% if not is_running %}hidden{% endif %}></div>
        <div class="text-center">
                <!-- The buttons are hidden with js -->
                <!--
                <form id="stop-crawler" action="." method="GET" {% if not is_running %}hidden{% endif %} >
                        <input type="hidden" name="stop" value="True">
                        <button id="stop" class="btn btn-primary" type="submit">Parar araña</button>
                </form>
                -->
                {% if not model or model == 'company' %}
                <form id="run-company-spider" action="{{'company'|get_action_form:model}}"method="GET"  {% if is_running %}hidden{% endif %} >
                        <input type="hidden" name="crawl" value="True">
                        <button id="start-company-spider" class="btn btn-primary" type="submit">Obtener empresas colaboradoras</button>
                </form>
                 {% endif %}
                <br>
                {% if not model or model == 'job' %}
                <form id="run-job-spider" action="{{'job'|get_action_form:model}}" method="GET"  {% if is_running %}hidden{% endif %} >
                        <input type="hidden" name="crawl" value="True">
                        <button id="start-job-spider" class="btn btn-primary" type="submit">Obtener ofertas de empleo</button>
                </form>
                {% endif %}
        </div>
</div>
{% endblock %}