html, body{
    margin: 0,
    padding:0,
    width: 100%;
    height: auto
}
body{
    padding: 1em
}

.title{
   text-align: center;
   padding-bottom: 0.5em
}

.clickeable{
    cursor: pointer;
}

.hidden {
    display: none;
}

.block{
    margin:1em 0.5em;

}

form input.form-control.datetimepicker-input.date{
    width:auto;
}

#container{
            padding-top: 3em;
      }

#ie-nav ul li{
        list-style-type: none;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
}

