html, body{
    margin: 0,
    padding:0,
    width: 100%;
    height: auto
}
body{
    padding: 1em
}

main{
    padding-top: 3rem;
}

main .container{
    padding-top: 1rem;
}

.app-container{
    padding-top: 1rem;
}

.title{
   text-align: center;
   padding-bottom: 1rem
}

.important{
    font-weight:bold;
}

.clickeable{
    cursor: pointer;
}

.hidden {
    display: none;
}

.block{
    margin:1em 0.5em;

}

form input.form-control.datetimepicker-input.date{
    width:auto;
}

.container{
    padding-top: 3em;
}

.center{
   margin: auto;
}



#ie-nav ul li{
        list-style-type: none;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
}

.no-margin{
    margin: 0;
}

div.row.no-margin{
    margin: 0;
}

.right{
    margin: auto 0 auto auto;
}

.left{
    margin: auto 0 auto 0;
}

.bottom{
    margin: auto auto 0 auto;
}

.top{
    margin: 0 auto auto auto;
}

.right-bottom{
    margin: auto 0 0 auto;
}


.left-bottom:{
    margin: auto auto 0 0;
}

.right-top{
    margin: 0 0 auto auto;
}

.left-top:{
    margin: 0 auto auto 0;
}

#admin-container{
    padding-top:3rem;
}

/* Spinner */

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 2rem auto 2rem auto;
}

.loader.fast {
    animation: spin 2s linear infinite;
}

.loader.slow {
    animation: spin 5s linear infinite;
}

.loader.very-slow {
    animation: spin 7s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

