html, body{
    margin: 0,
    padding:0,
    width: 100%;
    height: auto
}
body{
    padding: 1em
}

.title{
   text-align: center;
   padding-bottom: 0.5em
}

.clickeable{
    cursor: pointer;
}

.hidden {
    display: none;
}

.block{
    margin:1em 0.5em;

}

form input.form-control.datetimepicker-input.date{
    width:auto;
}