{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block app %}
    <div class="login view card">
        <div class="card-body">
            <h2 class="card-title text-center">Login</h2>
            <form method="POST" novalidate>
                {% csrf_token %}
                {% include 'form.html' %}
                <button type="submit" class="btn btn-primary">Registrarse</button>
            </form>
        </div>
         <div class="card-footer text-muted text-center">
          ¿No estás registrado? <a href="{% url 'signin' %}">Registro</a>
        </div>
        <div class="text-center py-2">
        <small>
          <a href="#" class="text-muted">¿Olvidaste la contraseña?</a>
        </small>
      </div>
    </div>
{% endblock %}