<!-- Template de la vista django_filters.views.FilterView -->
{% extends 'job/base.html' %}
{% block app %}

    <form method="GET" action="." enctype="multipart/form-data">{% csrf_token %}
         {{ filter.form.as_p }}
        <button type="submit">Send</button>
    {% if filter.qs %}
        <h3 class="title">Resultados encontrados</h3><br>
        {% include 'job/job_list.html' with job_list=filter.qs %}
    {% else  %}
        <p>No se han encontrado resultados de búsqueda</p>
    {% endif %}
    {% include 'job/pagination.html' with is_paginated=is_paginated  page_obj=page_obj  paginator=paginator %}

{% endblock %}

