<div class="job-inline remnant clickeable"  id="{{ job.id }}">
    <h5 class="card-title job-title">
     <a href="{{ job.get_absolute_url }}">{{job.name}}</a>
   </h5>
    <div class="card-body">
        <hr>
        <p class="card-text"><b>Area:</b> {{ job.area }}</p>
        <p class="card-text"><b>Tipo de contrato:</b>  {{ job.contract }}</p>
        <p class="card-text"><b>Jornada laboral:</b>  {{ job.working_day }}</p>
        {% if job.maximum_salary %}
            <p class="card-text"><b>Salario:</b>  {{ job.minimum_salary  }}€ - {{ job.maximum_salary  }}€ brutos anuales</p>
        {%  endif %}
        <p class="card-text">
            <b>Ciudad:</b>  {{ job.cities.all.first.name }} {% if job.country.name != "España" %}({{ job.country.name }}){% endif %}
        </p>
        <div class="row no-margin">
        {% if not detail %}
            <div class="col-6-lg">
                <a class="btn btn-primary" href="{{ job.get_absolute_url }}">Ver</a>
            </div>
         {% endif %}
         <div class="col-6-lg text-muted text-small text-right right-bottom">
            {% if job.last_update_date %}
                Fecha de actualización de la oferta: {{ job.last_update_date }}
            {% elif job.first_publication_date %}
                Fecha de publicación de la oferta: {{ job.first_publication_date }}
             {% else %}
                 Fecha de la última comprobación de la oferta: {{ job.checked_at }}
            {% endif %}
        </div>
        </div>
     </div>
 </div>