<div class="card job" id="{{ job.id }}">
     <h5 class="card-title"><a href="{{job.link}}">{{job.name}}  ({{ job.country.name }})</a></h5>
     <div class="card-body">
         <p class="card-text">
             <small class="text-muted">{{ job.created_date }}</small><br>

                Requisitos: {{ job.requirements | linebreaks | truncatewords:30 }}
                Se ofrece: {{ job.it_is_offered | linebreaks | truncatewords:30 }}
         </p>
         {% if not detail %}
            {% if not blog_post.publish_date %}Draft{% endif %}
            <a href="{{ blog_post.get_absolute_url }}">View</a>
         {% endif %}
     </div>
 </div>