{% extends 'job/base.html' %}
{% block subtitle %}<h2 class="title">Búsquedas</h2>{% endblock %}
{% block job %}
<div>
    <div id='btn-filters' class="btn dropdown-toggle ie-btn">
        Filtros
    </div>
    <div id="filters" class="hidden">
    <form method="GET" action="." enctype="multipart/form-data">{% csrf_token %}
         {{ form.as_p }}
        <button type="submit">Send</button>
    </form>
    </div>
</div><br>
    {% if job_list %}
        <h4 class="title">Resultados encontrados</h4><br>
        <span>
            Mostrando {{ page_obj.start_index }} - {{ page_obj.end_index }} de {{ page_obj.paginator.count }} resultados
        </span>
        <div class="card-list">
        {% include 'job/job_list.html' with job_list=job_list %}
        </div>
    {% else  %}
        <h4 class="title">No se han encontrado resultados {{ city_name }}</h4>
    {% endif %}
    {% include 'job/pagination.html' with is_paginated=is_paginated  page_obj=page_obj  paginate_by=paginate_by %}

{% endblock %}

