{% extends 'job/base.html' %}
{% block app %}
<div class="query-form view">
    <div class="text-center">
        <h2>Búsquedas de ofertas de empleo disponibles</h2>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {% if job_list %}
                <!-- <h3 class="title">Resultados encontrados</h3><br> -->
                <p>Mostrando {{ page_obj.start_index }} - {{ page_obj.end_index }} de {{ page_obj.paginator.count }} resultados</p>
            {% else  %}
                <h3 class="title">No se han encontrado resultados {{ city_name }}</h3>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 text-center mr">
            <div id="filters">
                <form method="GET" action="." enctype="multipart/form-data">{% csrf_token %}
                     {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Aplicar filtros</button>
                </form>
            </div>
        </div>
        {% if job_list %}
        <div class="col-lg-8 card-list block">
            <div class="card-list block"><!-- class="col-lg-12 card-list block" -->
                {% include 'job/job_list.html' with job_list=job_list %}
            </div>
            <div class="block"><!-- class="col-lg-12 card-list block" -->
                {% include 'job/pagination.html' with is_paginated=is_paginated  page_obj=page_obj  paginate_by=paginate_by %}
            </div>
        </div>
        {% endif %}
    </div>

</div>
{% endblock %}


