{% extends 'base.html' %}

{% block content %}
<h3>Contracts</h3>
<ul>
    {% for i in contracts %}
        <li>{{ i }}</li>
    {% endfor %}
</ul><br><br>
<h3>Working days</h3>
<ul>
    {% for i in working_days %}
        <li>{{ i }}</li>
    {% endfor %}
</ul><br><br>
<h3>Categories levels</h3>
<ul>
    {% for i in categories_levels %}
        <li>{{ i }}</li>
    {% endfor %}
</ul><br><br>
<h3>'Areas'</h3>
<ul>
    {% for i in areas %}
        <li>{{ i }}</li>
    {% endfor %}
</ul><br><br>
<a href ='/admin'>Go to Admin</a>
{%  endblock %}