{% extends 'account/base.html' %}
{% block title %}Restablece tu contraseña{% endblock %}
{% block app %}
<div class="password-reset view">
    <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          <h3 class="title card-title text-center">Elige una nueva contraseña</h3>
          <p class="text-justify">Introduce tu dirección de correo electrónico y te enviaremos un enlace para restablecer tu contraseña.</p>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'form.html' %}
            <button type="submit" class="btn btn-primary btn-block">Enviar enlace</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}