{% extends 'account/base.html' %}
{% block title %}Restablece tu contraseña{% endblock %}
{% block app %}
<div class="password-reset-done view">
    <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          <h3 class="title card-title text-center">Elige una nueva contraseña</h3>
          <p class="text-justify">Revisa tu correo electrónico, recibirás un enlace para restablecer tu contraseña. Si no recibes el correo en unos minutos comprueba tu bandeja de spam.</p>
          <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}