{% extends 'account/base.html' %}
{% block title %}
 {% if validlink %}
        Cambio de contraseña para el usuario {{ form.user.username }}
    {% else %}
        Restablece tu contraseña
    {% endif %}
{% endblock %}
{% block app %}
<div class="password-reset-confirm view">
    <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
            {% if validlink %}
              <h3 class="title card-title"> Cambio de contraseña para el usuario {{ form.user.username }}</h3>
              <form method="post" novalidate>
                  {% csrf_token %}
                  {% include 'form.html' %}
                  <button type="submit" class="btn btn-success btn-block">Cambia la contraseña</button>
              </form>
            {% else %}
                <h3 class="card-title">Restablece tu contraseña</h3>
                <div class="alert alert-danger" role="alert">
                    Parece que has pinchado un enlace de restablecimiento de contraseña incorrecto. Por favor, prueba de nuevo.
                </div>
                <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">Solicita un nuevo enlace de cambio de contraseña</a>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}