{% extends 'account/base.html' %}
{% block title %}Cambiar tu contraseña{% endblock %}
{% block app %}
<div class="password_change view">
    <h3 class="title card-title">Cambiar contraseña</h3>
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'form.html' %}
              <button type="submit" class="btn btn-success">Cambiar contraseña</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}