Django==3.0.12
django-filter==2.2.0
django-import-export==2.0.2
django-mysql==3.4.0
django-simple-history==2.10.0
Scrapy==2.0.1
scrapy-djangoitem==1.1.1
scrapy-proxy-pool==0.1.9
scrapy-user-agents==0.1.1
PyMySQL==0.9.3
django-mathfilters==1.0.0
django-widget-tweaks==1.4.8
pandas==1.0.3
gunicorn
django-environ
